<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carte des entreprises</title>
</head>

<body>
    <h2>La belle carte</h2>
    <form method="POST">
        <label for="entreprise">Choisissez une entreprise :</label>
        <select name="entreprise" id="entreprise">
            <option value="">Choisir</option>
            <option value="ow">Opale Web</option>
            <option value="ccpo">Communauté de Communes Pays d'Opale</option>
            <option value="elp">Espace Learning Pro</option>
            <option value="air">Airspire</option>
            <option value="atm">Atoucom</option>
            <option value="dp">DocPro SARL</option>
            <option value="ce">Opale CE</option>
            <option value="bar">Théâtre la Barcarolle</option>
        </select>
        <form method="POST">
            <label for="etudiant">Choisissez un étudiant :</label>
            <select name="etudiant" id="etudiant">
                <option value="">Choisir</option>
                <option value="zoe">Zoe</option>
                <option value="tom">Tom</option>
                <option value="juliette">Juliette</option>
                <option value="arthur">Arthur</option>
                <option value="mathys">Mathys</option>
                <option value="emilie">Emilie</option>
                <option value="mario">Mario</option>
                <option value="baptiste">Baptiste</option>
            </select>
            <button type="submit">Afficher l'étuediant</button>
        </form>
        <iframe src="{{ url_for('static', filename='carte.html') }}" width="400px%" height="400px"></iframe>
</body>

</html>