<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire Étudiant</title>
</head>

<body>
    <h1>Formulaire Étudiant</h1>
    <form method="post">
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" required><br><br>

        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="prenom" required><br><br>

        <label for="promotion">Année de Promotion :</label>
        <input type="number" id="promotion" name="promotion" required><br><br>

        <label for="entreprise">Entreprise Actuelle :</label>
        <input type="text" id="entreprise" name="entreprise"><br><br>

        <button type="submit">Envoyer</button>
    </form>
</body>

</html>